<div class="container">
  <br />
  <form (ngSubmit)='loginUser()' [formGroup]='loginForm' novalidate class="form">

    <div class="form-group" [ngClass]="{'has-error':loginForm.get('email').errors && (loginForm.get('email').touched || loginForm.get('email').dirty)}  ">
      <input formControlName='email' type="text" class="form-control" placeholder="Enter Email" />
      <!-- <span>{{fullNameLength}}</span> -->

      <span class="help-block" *ngIf="loginForm.get('email').errors && (loginForm.get('email').touched || loginForm.get('email').dirty)">
          <span *ngIf="loginForm.get('email').errors.required">full name is true</span>
          <span *ngIf="loginForm.get('email').errors.minLength || loginForm.get('email').errors.maxLength">
              <span *ngIf="loginForm.get('email').errors.required">full name is 2nd valid</span>
              </span>
      </span>   
    </div>
      <input formControlName='password' type="password" class="form-control" placeholder="Enter Password" />

      <input formControlName='age' type="number" class="form-control" placeholder="Enter Age" />


      <button [disabled]='loginForm.invalid' class="btn btn-primary">Login</button>
  </form>
</div>